:root {
  --clr-black: #070a13;
  --clr-white: #f1f5f9;
  --clr-grey: #9e9ca9;
  --clr-red: #f1f5f9;
  --clr-value: 255, 255, 255;
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}

.light-mode {
  --clr-black: #f1f5f9;
  --clr-white: #070a13;
  --clr-red: #ff0000;
  --clr-value: 255, 0, 0;
}

html {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  user-select: none;
  color: var(--clr-white);
  background-color: var(--clr-black);
  caret-color: transparent;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

.title__container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  margin: auto;
  padding: 1rem;
  /* border: 1px solid red; */
}

.title__Rock,
.title__Paper,
.title__Scissor {
  text-align: center;
  font-weight: 700;
}

.title__Win {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--size-7xl);
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
}

.selection p {
  border: 3px solid var(--clr-grey);
  border-radius: 50%;
  padding: 1rem;
  opacity: 90%;
  filter: brightness(0.5);
  transition: opacity 0.3s, border-color 0.3s, filter 0.3s;
  cursor: pointer;
}

.selection p:hover {
  border-color: var(--clr-white);
  opacity: 100%;
  filter: brightness(1);
}

.result {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
}

.result p {
  color: var(--clr-black);
  cursor: pointer;
}

.User,
.Computer,
.repeat,
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  font-size: var(--size-2xl);
}

.User {
  bottom: 0;
  left: 0;
  margin: 0 0 2rem 2rem;
}

.Computer {
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;
}

.repeat {
  top: 0;
  left: 0;
  margin: 2rem 0 0 2rem;
}

.repeatbtn{
  cursor: pointer;
}

.theme {
  top: 0;
  right: 0;
  margin: 2rem 2rem 0 0;
  padding: 0;
}

.theme__moon,
.theme__sun {
  display: block;
  color: var(--clr-white);
  width: var(--size-3xl);
  height: var(--size-3xl);
  transition: color 0.3s;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-red);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(var(--clr-value), 0.5),
    0 6px 6px rgba(var(--clr-value), 0.5), 0 0 100px -10px var(--clr-red);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(var(--clr-value), 0.25),
    0 10px 10px rgba(var(--clr-value), 0.22), 0 0 120px -10px var(--clr-red);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .title__container {
    width: 35vw;
    height: 63vh;
  }

  .title__Rock {
    margin-top: -2rem;
    font-size: var(--size-9xl);
  }

  .title__Paper {
    font-size: 6.5rem;
    transform: translateY(-1rem);
  }

  .title__Scissor {
    font-size: 4.8rem;
    transform: translateY(-1.6rem);
  }

  .hand__Left img {
    position: fixed;
    transform: translate(-1rem, 4rem);
    width: 40vw;
    height: auto;
  }

  .hand__Right img {
    position: fixed;
    transform: translate(49rem, 4rem);
    width: 40vw;
    height: auto;
  }

  .result p {
    font-size: var(--size-3xl);
  }

  .selection {
    margin-bottom: 25vh;
    font-size: var(--size-3xl);
  }

  .User,
  .Computer,
  .repeat {
    font-size: var(--size-2xl);
  }

  .theme__moon,
  .theme__sun {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }

  .title__Win {
    font-size: var(--size-9xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .title__container {
    width: 35vw;
    height: 60vh;
  }

  .title__Rock {
    margin-top: -2rem;
    font-size: var(--size-10xl);
  }

  .title__Paper {
    font-size: 8.1rem;
  }

  .title__Scissor {
    font-size: var(--size-8xl);
    transform: translateY(-1.7rem);
  }

  .hand__Left img {
    transform: translate(-1rem, 4rem);
  }

  .hand__Right img {
    transform: translate(59rem, 4rem);
  }

  .result p {
    font-size: var(--size-4xl);
  }

  .selection {
    margin-bottom: 22vh;
    font-size: var(--size-5xl);
  }

  .User,
  .Computer,
  .repeat {
    font-size: var(--size-3xl);
  }

  .theme__moon,
  .theme__sun {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }

  .title__Win {
    font-size: var(--size-10xl);
  }
}

.hidden {
  display: none;
}
